{% extends 'base.html.twig' %}

{% block body %}
<a href="{{ path('app_produit_index') }}" class="text-dark">Return</a>
<div class="row">
    <div class="col-12">
        <div class="breadcrumbs mb-4"> 
            <h2>Result for " {{ searchTerm }} " search:</h2>
        </div>
    </div>
    {% if products is not empty %}
        {% for product in products %}
            <div class="col-4">
                <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">{{ product.categorie ? product.categorie.getNom() }}</h4>
                </div>
                <div class="card-body">
                    <h2 class="card-title pricing-card-title">{{ product.nom }}          /{{product.prixUnitaire}} Ar</h2>
                    <ul class="list-unstyled mt-3 mb-4">
                    <li>User : {{ product.users ? product.users.getName() : 'Utilisateur inconnu' }}</li>
                    <li>Date: {{ product.date ? product.date|date('Y-m-d') : '' }}</li>
                    </ul>
                    <a href="{{ path('app_produit_show', {'id': product.id}) }}" class="btn btn-outline-dark">View Details</a>
                </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2>Aucun article trouver de ce genre trouvé 🥴🥴</h2>
    {% endif %}
</div>

{% endblock %}
